In [1]:
print ('ola mundo')

ola mundo

In [3]:
import pandas as pd
import matplotlib as plt

In [40]:
bd = pd.read_csv('./dados_sinteticos_com_erros_atualizado.csv')

In [80]:
bd.head()

,id,data,cliente,produto,valor_x,quantidade,total,status,cep,frete,pagamento,vendedor,categoria_x,peso,valor_y,categoria,valor,total real,tempo d comp
0,1,2017-09-20,Filipe Cruz,Isotônico Coca-Cola,96.87,7,38.092982,em separação,44736778,6.91,transferência,Loja 1,bebidas,83.75,5.441855,bebidas,5.441855,38.092982,2366 days 22:24:15.544583
1,2,2019-07-17,Daniel Silva,Lembrancinha Festa Box,92.21,7,123.142236,em trânsito,14252141,24.54,cheque,Loja 3,artigos para festas,60.02,17.591748,artigos para festas,17.591748,123.142236,1701 days 22:24:15.544583
2,3,2018-01-20,Victor Silva,Convite Piffer,170.19,5,37.268889,cancelado,11433599,78.13,cartão,Loja 3,artigos para festas,20.81,7.453778,artigos para festas,7.453778,37.268889,2244 days 22:24:15.544583
3,4,2016-06-21,Vanessa Rodrigues,Vinho Heineken,151.80,10,15.517708,entregue,42601709,99.21,boleto,Loja 3,bebidas,44.59,1.551771,bebidas,1.551771,15.517708,2822 days 22:24:15.544583
4,5,2015-05-01,Luiz Bandeira,Chinelo Fila,82.24,7,326.226314,em separação,41838090,66.42,cheque,Loja 3,calçados,92.52,46.603759,calçados,46.603759,326.226314,3239 days 22:24:15.544583

In [67]:
print(bd.head(10))

   id        data            cliente                 produto  valor_x  \
0   1  2017-09-20        Filipe Cruz     Isotônico Coca-Cola    96.87
1   2  2019-07-17       Daniel Silva  Lembrancinha Festa Box    92.21
2   3  2018-01-20       Victor Silva          Convite Piffer   170.19
3   4  2016-06-21  Vanessa Rodrigues          Vinho Heineken   151.80
4   5  2015-05-01      Luiz Bandeira            Chinelo Fila    82.24
5   6  2015-09-23    Maycon Demarque   Decoração Magazine 25   154.96
6   7  2016-08-01      Davi Demarque             Peixe Sadia   117.69
7   8  2017-06-04     Gustavo Soares           Impressora LG    28.64
8   8  2017-06-04     Gustavo Soares           Impressora LG    28.64
9   8  2017-06-04     Gustavo Soares           Impressora LG    28.64

   quantidade        total                status       cep  frete  ...  \
0           7    38.092982          em separação  44736778   6.91  ...
1           7   123.142236           em trânsito  14252141  24.54  ...
2           5    37.268889             cancelado  11433599  78.13  ...
3          10    15.517708              entregue  42601709  99.21  ...
4           7   326.226314          em separação  41838090  66.42  ...
5           1    20.486919             cancelado  30846832  74.67  ...
6           9    62.942948             cancelado  22926108  23.65  ...
7           5   823.014866  aguardando pagamento  18517847   7.32  ...
8           5  1002.198284  aguardando pagamento  18517847   7.32  ...
9           5   823.014866  aguardando pagamento  18517847   7.32  ...

  vendedor          categoria_x   peso  altura  largura  comprimento  \
0   Loja 1              bebidas  83.75   12.89    35.11        56.99
1   Loja 3  artigos para festas  60.02   54.85    15.35        41.05
2   Loja 3  artigos para festas  20.81   20.38    75.42        46.84
3   Loja 3              bebidas  44.59    4.68    32.67        91.61
4   Loja 3             calçados  92.52   57.52    33.77        49.21
5   Loja 3  artigos para festas  86.60   37.70    25.00        16.18
6   Loja 3            alimentos   9.59   84.49    80.68        78.71
7   Loja 3          informática  43.14   76.33    12.34        47.92
8   Loja 3          informática  43.14   76.33    12.34        47.92
9   Loja 3          informática  43.14   76.33    12.34        47.92

      valor_y            categoria       valor   total real
0    5.441855              bebidas    5.441855    38.092982
1   17.591748  artigos para festas   17.591748   123.142236
2    7.453778  artigos para festas    7.453778    37.268889
3    1.551771              bebidas    1.551771    15.517708
4   46.603759             calçados   46.603759   326.226314
5   20.486919  artigos para festas   20.486919    20.486919
6    6.993661            alimentos    6.993661    62.942948
7  164.602973          informática  164.602973   823.014866
8  164.602973          informática  200.439657  1002.198284
9  164.602973          eletrônicos  164.602973   823.014866

[10 rows x 21 columns]

In [59]:
bd ['total real'] = bd['quantidade'] * bd['valor']
print(bd['total real'])

0          38.092982
1         123.142236
2          37.268889
3          15.517708
4         326.226314
             ...
214306    200.002781
214307    531.353100
214308    200.002781
214309    531.353100
214310    200.002781
Name: total real, Length: 214311, dtype: float64

In [37]:
bd.describe()

,id,valor_x,quantidade,total,cep,frete,peso,altura,largura,comprimento,valor_y
count,214311.000000,214311.000000,214311.000000,214311.000000,2.143110e+05,214311.000000,214311.000000,214311.000000,214311.000000,214311.000000,214311.000000
mean,24997.598448,110.108479,5.467750,781.741055,5.483700e+07,49.870262,50.169432,50.004779,49.978365,50.108208,142.862632
std,14433.807030,72.103951,2.873557,1436.049722,2.592957e+07,28.761408,28.873023,28.818780,28.871345,28.736578,222.584472
min,1.000000,10.000000,1.000000,1.145304,1.000192e+07,0.000000,0.100000,0.100000,0.100000,0.100000,1.145304
25%,12502.000000,52.900000,3.000000,88.466471,3.251641e+07,24.910000,25.060000,24.995000,24.880000,25.210000,23.450809
50%,24969.000000,90.290000,5.000000,231.616249,5.484179e+07,50.090000,50.300000,49.950000,49.820000,50.120000,44.808037
75%,37484.500000,159.140000,8.000000,643.615711,7.699578e+07,74.560000,75.190000,75.040000,75.230000,75.040000,123.110750
max,50000.000000,299.990000,10.000000,9791.562845,9.999804e+07,100.000000,100.000000,100.000000,100.000000,100.000000,979.156285

In [42]:
bd.isnull().sum()

id                  0
data                0
hora                0
cliente             0
produto             0
valor_x             0
quantidade          0
total               0
status              0
cidade              0
estado              0
pais                0
cep                 0
frete               0
pagamento           0
vendedor            0
categoria_x         0
marca               0
modelo              0
cor            160226
tamanho             0
peso                0
altura              0
largura             0
comprimento         0
categoria_y         0
valor_y             0
categoria           0
valor               0
dtype: int64

In [43]:
bd = bd.drop(columns=['cor'])

In [44]:
bd = bd.drop(columns=['tamanho'])

In [45]:
bd = bd.drop(columns=['marca', 'modelo'])

In [46]:
print (bd.duplicated().sum())

0

In [47]:
bd = bd.drop(columns=['categoria_y'])

In [48]:
bd = bd.drop(columns=['cidade'])

In [49]:
bd = bd.drop(columns=['estado' , 'pais'])

In [53]:
print(bd[bd.duplicated()])

Empty DataFrame
Columns: [id, data, hora, cliente, produto, valor_x, quantidade, total, status, cep, frete, pagamento, vendedor, categoria_x, peso, altura, largura, comprimento, valor_y, categoria, valor]
Index: []

[0 rows x 21 columns]

In [54]:
bd = bd.drop_duplicates()

In [65]:
bd = bd.drop(columns=['hora'])

In [68]:
bd = bd.drop(columns=['largura', 'comprimento', 'altura'])

In [73]:
from datetime import datetime
bd['data'] = pd.to_datetime(bd['data'])

data_atual = datetime.now()

bd['tempo d comp'] = data_atual - bd['data']

In [78]:
bd = bd.drop_duplicates(subset='id', keep='first')

In [79]:
bd.shape

(50000, 19)